image: "opensearchproject/logstash-oss-with-opensearch-output-plugin"
imageTag: "7.16.3"
imagePullPolicy: "IfNotPresent"
imagePullSecrets: []

service:
  annotations: {}
  type: ClusterIP
  loadBalancerIP: ""
  ports:
    - name: beats
      port: 5044
      protocol: TCP
      targetPort: 5044
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
      
logstashPipeline:
 logstash.conf: |
   input {
     beats {
       port => 5044 
     }
   }
   output {
    opensearch {
      hosts       => "https://search-benchmarking-test-achxwftlogudvc6d2c3tvdxyhu.us-east-1.es.amazonaws.com:443"
      user        => "admin"
      password    => "Password_123"
      index       => "logstash-logs-%{+YYYY.MM.dd}"
      ecs_compatibility => disabled
      ssl_certificate_verification => false
        }
    }
